*{
    margin: 0%;
    padding: 0%;
}

@import "_mixins";
$estilos:(
    text-align: center,
    padding: 2rem,
    border-radius: 69px,
);

img {
    max-width: 100%;
}

img,
svg {vertical-align: middle;
}

$primary-color:rgb(68, 80, 245);


.grid-container {
    @include grid-width-colums;
    grid-template-rows: auto auto auto auto;
    min-height: 100vh;
    grid-gap: 20px;
    margin: 0% auto;
    background-color:  rgb(210, 211, 214);
    grid-template-areas: "header"
    "main"
    "section"
    "footer";

    .grid-header {
        @include flex-center-space;
        grid-area: "header";
        grid-auto-flow:column;
        height: 40rem;
        background-image: url(https://images.caricos.com/b/bmw/2019_bmw_3-series/images/1920x1080/2019_bmw_3-series_92_1920x1080.jpg);
        background-repeat: no-repeat;
        padding: 1rem 2rem;
    }
            .grid-section {
            @extend .section;
            grid-template-areas: "section";
            grid-template-columns: auto 700px;
        }
}


.cards {
    @extend .section;
    justify-content: space-between;
}

.main__text{
    grid-template-areas: "main";
    text-align: map-get($estilos, center);
    padding: map-get($estilos, 2rem);
    background-color: $primary-color;
    border-radius: map-get($estilos,69px);
    width: auto;
}

.section {
    display: flex;
}

.main__iframe {
    vertical-align: middle;
    padding: 15px;
    height: auto;
}

